html{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.debug{
  border: 1px solid black;
}

.top_header{
  height: 80px;
}

.debug .container [class*="col-"] {
  border: 1px solid grey;
}

.top_header.container [class*="col-"]{
  height: 80px;
}

.logo{
  line-height: 80px;
}
.logo > img{
  vertical-align: middle;
}

[class*="nav_"] li {
  display: inline-block;
}

[class*="nav_"] li:not(:last-child){
  margin-right: 1rem;
}


[class*="nav_"] li a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  line-height: 80px;
}

[class*="nav_"]{
  float:right;
}

.f-right{
  float: right;
}

.h-100{
  height: 100%;
}


.top_header img {
  width: 100px;
}

.ghost_align::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.nav_right li:not(:first-child) a {
  border-left: 1px solid grey;
  padding-left: 10px;
}

.fa-bars{
  vertical-align: middle;
  line-height: 80px;
}




.jumbotron{
  height: 500px;
  border: 1px solid black;
  background-image: url("../img/header.jpg");
  background-size: cover;
  position: relative;
}

.text{
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1391px){

  .my_container{
    max-width: 70%
  }

  html{
    font-size: 15px;
  }
}
